
{% extends 'home/base.html' %}
{% load static %}

{% block body %}

<div class="contact" id="contact">

        

    <div class="c1">
        <div class="cardi">
            <img src="{% static "image/image4.jpg" %}"  alt="John" style="width: 100%;">
            <h1>Sanchit Sudhakar </h1>
            
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
              <a href="#"><i class="fa fa-instagram"></i></a> 
          
              
            </div>
            <p><button class="sa">Contact</button></p>
          </div>
    </div>
    <div class="c1">
        <div class="cardi">
            <img src="{% static "image/image4.jpg" %}" alt="John" style="width:100%">
            <h1>Praveen kumar P</h1>
            <br>
            <br>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
              <a href="#"><i class="fa fa-instagram"></i></a> 
          
              
            </div>
            <p><button class="sa">Contact</button></p>
          </div>
        
    </div>
    <div class="c1">
        <div class="cardi">
            <img src="{% static "image/image4.jpg" %}" alt="John" style="width:100%">
            <h1>Aadarsh Lakshmi </h1>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
              <a href="#"><i class="fa fa-instagram"></i></a> 
          
              
            </div>
            <p><button class="sa">Contact</button></p>
          </div>
    </div>
    <div class="c1">
        <div class="cardi">
            <img src="{% static "image/image4.jpg" %}" alt="John" style="width:100%">
            <h1>Rishi Diwakar</h1>
            <br><br>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
              <a href="#"><i class="fa fa-instagram"></i></a> 
          
              
            </div>
            <p><button class="sa">Contact</button></p>
          </div>    
    </div>


</div>    

   
{% endblock body %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism</title>
    <link rel="stylesheet" href="static\css\style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
   <div class ="background" id="home" >
    <nav class="navbar">
        <div class="nav-list">
            <ul>
                <label class="logo">Tourism</label>
    
            </ul>
    
            <div class="leftNav">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
    
            </div>
        </div>
        
        <ul class = "navlist">
            <li><a href="/home" class="active" id="ki" >HOME</a></li>
            <li><a href="/about"id="ki" >ABOUT</a></li>
            <li><a href="/contact"id="ki" >CONTACT</a></li>
            <li class="dropdown" >
                <a href="/choice_of_login_page"id="ki" >PROFILE</a>
                <div class="dropdown-content">
                    <a class="dc" href="wishlist.html">Wishlist</a>
                    <a class="dc" href="History.html">History</a>
                    <a class="dc" href="#">Feedback</a>
                    <a class="dc" href="#">Logout</a>

                </div>
            </li>

        </ul>

        
    </nav>



  


   
</body>
</html> {% endcomment %}